<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Spartan clean responsive business website template</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 

	<!-- CSS -->
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="js/fancybox/jquery.fancybox-1.3.4.css" media="screen" />	
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/amazium.css">
	
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/elements.css">
	<link rel="stylesheet" href="css/sb.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="skin/orange.css">
	
	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
	

	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="js/jquery.easing.1.3.js" type="text/javascript"></script>
	
	<!-- camera slide -->
	<script src="js/camera/jquery.mobile.customized.min.js"></script>
	<script src="js/camera/camera.min.js"></script>
	<script src="js/camera/function.js"></script>
	
	<script src="js/bw/jquery.blackandwhite.min.js"></script>
	<script src="js/bw/function.js"></script>
	
	<script type="text/javascript" src="js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<script src="js/fancybox/function.js"></script>
	
	<script src="js/tooltips.js"></script>	
	
	<script src="js/twitter/jquery.tweet.js"></script>	
	<script src="js/twitter/function.js"></script>	

	<script src="js/functions.js"></script>		

</head>
<body>

<header>
	<div class="topstatic">
	<div class="row">
				<div class="grid_4">
					<div class="logo">
						<a href="index.html"><img src="images/logo.png" alt="" class="hires" /></a>
					</div>		
				</div>
				<div class="grid_8">
					<!--start navigation-->
					<div class="call_contact">
						<p>Call us +62 009 888 117</p>
					</div>
					<div class="clear"></div>
					<div class="topnav">
						<ul>
							<li class="selected">
								<a href="index.html">Home</a>					  
							</li>
							<li>
								<a href="#">Pages</a>
				
							</li>
							<li>
								<a href="#">About</a>
				
							</li>
							<li>
								<a href="#">Gallery</a>
				
							</li>
							<li>
								<a href="contact.html">Contact</a>
							</li>
						</ul>

					</div>
					<!--end navigation-->	
				</div>

	</div>
	</div>

	<div class="top">
	<div class="row">

		<div class="grid_12">
			<!--start navigation-->
			<nav>
				<ul>
					<li>
						<a href="index.html">Home</a>
						<ul>
							<li><a href="index1.html">Index alt 1</a></li>
							<li><a href="index2.html">Index alt 2</a></li>
						</ul>			  			  
					</li>
					<li class="selected">
						<a href="#">Pages</a>
						<ul>
							<li><a href="about.html">About us</a></li>
							<li><a href="typography.html">Typography</a></li>
							<li><a href="elements.html">Elements</a></li>
							<li><a href="buttons-misc.html">Buttons & misc</a></li>
							<li><a href="columns.html">Column layout</a></li>
							<li><a href="testimonial.html">Testimonial page</a></li>
							<li><a href="pricingtable.html">Pricing table</a></li>
							<li><a href="#">Second level menu</a>
								<ul>
									<li><a href="#">Example menu</a></li>
									<li><a href="#">Example menu</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Blog</a>
						<ul>
							<li><a href="blog-left-sidebar.html">Blog left Sidebar</a></li>
							<li><a href="blog-right-sidebar.html">Blog right Sidebar</a></li>
							<li><a href="single-post-left.html">Single post left</a></li>
							<li><a href="single-post-right.html">Single post right</a></li>
						</ul>
					</li>							  
					<li>
						<a href="#">Portfolio</a>
						<ul>
							<li><a href="portfolio2.html">Portfolio 2 columns</a></li>
							<li><a href="portfolio3.html">Portfolio 3 columns</a></li>
							<li><a href="portfolio4.html">Portfolio 4 columns</a></li>
						</ul>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>
				</ul>

			</nav>
			<!--end navigation-->	
		</div>
	
	</div>
	</div>

</header>

<aside id="featured" class="inner">
	<div class="row">
		<div class="grid_12">
			<ul class="breadcrumb">
				<li class="home"><a href="#">Home</a></li>
				<li><span>Buttons</span></li>
			</ul>	
			
			<form id="searchForm">
					<fieldset>
						<div class="input">
							<input type="text" name="search" id="s" onblur="if(this.value=='')this.value='Type and hit enter';" onfocus="if(this.value=='Type and hit enter')this.value='';" value="Type and hit enter"  />
						</div>
							<input type="submit" id="searchSubmit" value="" />
					</fieldset>
			</form>

		</div>
	</div>
</aside>

<section id="content">

	<div class="row">
		<div class="grid_6">
		<h4>Basic image Buttons</h4>
				<a href="#" class="imgbtn1"><span>Button image size 1</span></a> 
				<a href="#" class="imgbtn1 bold"><span>Button image size 1</span></a> 

				<a href="#" class="imgbtn2"><span>Button image 2</span></a> 
				<a href="#" class="imgbtn2 bold"><span>Button image 2</span></a> 

				<a href="#" class="imgbtn3"><span>Button image 3</span></a> 
				<a href="#" class="imgbtn3 bold"><span>Button image 3</span></a> 
				
				<a href="#" class="csmall-button marginright10">Clean small orange</a>
				<a href="#" class="csmall-button bold">Clean small bold orange</a><br />
				
				<a href="#" class="cmedium-button marginright10">Clean medium orange</a>
				<a href="#" class="cmedium-button bold">Clean medium bold orange</a>

		</div>
		<div class="grid_6 demopage">
			<h4>CSS color button</h4>

			<a href="#" class="cssbtn orange square smaller">Small orange</a>
			<a href="#" class="cssbtn blue square smaller">Small blue</a>
			<a href="#" class="cssbtn red square smaller">Small red</a>
			<a href="#" class="cssbtn green square smaller">Small green</a>
			<a href="#" class="cssbtn yellow square smaller">Small yellow</a>
			<a href="#" class="cssbtn purple square smaller">Small purple</a>
			<a href="#" class="cssbtn gray square smaller">Small gray</a>
			<a href="#" class="cssbtn white square smaller">Small gray</a>
			
			<p>Bigger size and rounded style also available</p>
			<a href="#" class="cssbtn orange square">Big orange</a>
			<a href="#" class="cssbtn orange rounded">Rounded orange</a>
		
		</div>
	</div>
	
	<div class="row">
		<div class="grid_12">
			<div class="solid_line"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="grid_12">
			<h4>Icon and text buttons</h4>
			
			<p>Rounded and shadow</p>
			<a href="#" class="ib download">Download</a>
			<a href="#" class="ib upload">Upload</a>
			<a href="#" class="ib cart">Add to cart</a>
			<a href="#" class="ib fav">Favourite</a>
			<a href="#" class="ib address">Email address</a>
			<a href="#" class="ib more">More</a>
			<a href="#" class="ib refresh">Refresh</a>
			<a href="#" class="ib home">Home</a>
			<a href="#" class="ib article">Article</a>
			
			<p>Flat style</p>
			<a href="#" class="ib flat download">Download</a>
			<a href="#" class="ib flat upload">Upload</a>
			<a href="#" class="ib flat cart">Add to cart</a>
			<a href="#" class="ib flat fav">Favourite</a>
			<a href="#" class="ib flat address">Email address</a>
			<a href="#" class="ib flat more">More</a>
			<a href="#" class="ib flat refresh">Refresh</a>
			<a href="#" class="ib flat home">Home</a>
			<a href="#" class="ib flat article">Article</a>
			
		</div>
	</div>
	
	<div class="row">
		<div class="grid_12">
			<div class="solid_line"></div>
		</div>
	</div>
	
	<div class="row demosb">
		<div class="grid_12">
			<h4>Social buttons</h4>
				
				
		</div>
		<div class="grid_6">
			<p>By default</p>
			<a href="#" class="sb twitter">Twitter</a>
			<a href="#" class="sb facebook">Facebook</a>
			<a href="#" class="sb heart">Heart</a>
			<a href="#" class="sb linkedin">LinkedIn</a>
			<a href="#" class="sb pinterest">Pinterest</a>
			<a href="#" class="sb podcast">Podcast</a>
			<a href="#" class="sb rss">RSS</a>
			<a href="#" class="sb share_this">Share</a>
			<a href="#" class="sb star">Star</a>
			<a href="#" class="sb vimeo">Vimeo</a>
			
			<p>Flat type</p>
			<a href="#" class="sb flat twitter">Twitter</a>
			<a href="#" class="sb flat facebook">Facebook</a>
			<a href="#" class="sb flat heart">Heart</a>
			<a href="#" class="sb flat linkedin">LinkedIn</a>
			<a href="#" class="sb flat pinterest">Pinterest</a>
			<a href="#" class="sb flat podcast">Podcast</a>
			<a href="#" class="sb flat rss">RSS</a>
			<a href="#" class="sb flat share_this">Share</a>
			<a href="#" class="sb flat star">Star</a>
			<a href="#" class="sb flat vimeo">Vimeo</a>
			
			<p>Circle</p>
			
			<a href="#" class="sb circle twitter">Twitter</a>
			<a href="#" class="sb circle facebook">Facebook</a>
			<a href="#" class="sb circle heart">Heart</a>
			<a href="#" class="sb circle linkedin">LinkedIn</a>
			<a href="#" class="sb circle pinterest">Pinterest</a>
			<a href="#" class="sb circle podcast">Podcast</a>
			<a href="#" class="sb circle rss">RSS</a>
			<a href="#" class="sb circle share_this">Share</a>
			<a href="#" class="sb circle star">Star</a>
			<a href="#" class="sb circle vimeo">Vimeo</a>
			
			<p>Border</p>
				<a href="#" class="sb thick-border twitter">Twitter</a>
				<a href="#" class="sb thick-border facebook">Facebook</a>
				<a href="#" class="sb thick-border heart">Heart</a>
				<a href="#" class="sb thick-border linkedin">LinkedIn</a>
				<a href="#" class="sb thick-border pinterest">Pinterest</a>
				<a href="#" class="sb thick-border podcast">Podcast</a>
				<a href="#" class="sb thick-border rss">RSS</a>
				<a href="#" class="sb thick-border share_this">Share</a>
				<a href="#" class="sb thick-border star">Star</a>
				<a href="#" class="sb thick-border vimeo">Vimeo</a>
				
			<p>Gradient</p>
				<a href="#" class="sb gradient twitter">Twitter</a>
				<a href="#" class="sb gradient facebook">Facebook</a>
				<a href="#" class="sb gradient heart">Heart</a>
				<a href="#" class="sb gradient linkedin">LinkedIn</a>
				<a href="#" class="sb gradient pinterest">Pinterest</a>
				<a href="#" class="sb gradient podcast">Podcast</a>
				<a href="#" class="sb gradient rss">RSS</a>
				<a href="#" class="sb gradient share_this">Share</a>
				<a href="#" class="sb gradient star">Star</a>
				<a href="#" class="sb gradient vimeo">Vimeo</a>
				
			<p>Dark gray</p>	
				<a href="#" class="sb dark gray twitter">Twitter</a>
				<a href="#" class="sb dark gray facebook">Facebook</a>
				<a href="#" class="sb dark gray heart">Heart</a>
				<a href="#" class="sb dark gray linkedin">LinkedIn</a>
				<a href="#" class="sb dark gray pinterest">Pinterest</a>
				<a href="#" class="sb dark gray podcast">Podcast</a>
				<a href="#" class="sb dark gray rss">RSS</a>
				<a href="#" class="sb dark gray share_this">Share</a>
				<a href="#" class="sb dark gray star">Star</a>
				<a href="#" class="sb dark gray vimeo">Vimeo</a>
				
			<p>Example mix colors and styles</p>	
			<a href="#" class="sb min twitter">Twitter</a>
			<a href="#" class="sb small text facebook">Facebook</a>
			<a href="#" class="sb blue facebook">Facebook</a>
			<a href="#" class="sb red embossed heart">Heart</a>
			<a href="#" class="sb text embossed linkedin">LinkedIn</a>
			<a href="#" class="sb yellow gradient embossed pinterest">Pinterest</a>
			<a href="#" class="sb circle embossed purple gradient podcast">Podcast</a>
			<a href="#" class="sb orange dark rss">RSS</a>
			<a href="#" class="sb embossed green large text share_this">Share</a>
			<a href="#" class="sb orange flat star">Star</a>
			<a href="#" class="sb pressed no-border blue vimeo">Vimeo</a>
			<a href="#" class="sb thick-border light-gray large twitter">Twitter</a>
			<a href="#" class="sb text red large  gradient glossy embossed circle heart">Heart</a>
			<a href="#" class="sb flat small text rss light-blue">RSS</a>
			<a href="#" class="sb orange gradient text circle vimeo">Vimeo</a>
			<a href="#" class="sb black glossy text flat vimeo">Vimeo</a>
			<a href="#" class="sb blue circle no-border twitter">Twitter</a>
			<a href="#" class="sb orange pressed text star">Star</a>
	
		</div>
		<div class="grid_6">
		<p>Example size: small, default, large</p>
			<a href="#" class="sb small twitter">Twitter</a>
			<a href="#" class="sb twitter">Twitter</a>
			<a href="#" class="sb large twitter">Twitter</a>
			<a href="#" class="sb small facebook">Twitter</a>
			<a href="#" class="sb facebook">Twitter</a>
			<a href="#" class="sb large facebook">Twitter</a>
			<a href="#" class="sb small pinterest">Twitter</a>
			<a href="#" class="sb pinterest">Twitter</a>
			<a href="#" class="sb large pinterest">Twitter</a>	

		<p>Embossed</p>

			<a href="#" class="sb embossed twitter">Twitter</a>
			<a href="#" class="sb embossed facebook">Facebook</a>
			<a href="#" class="sb embossed heart">Heart</a>
			<a href="#" class="sb embossed linkedin">LinkedIn</a>
			<a href="#" class="sb embossed pinterest">Pinterest</a>
			<a href="#" class="sb embossed podcast">Podcast</a>
			<a href="#" class="sb embossed rss">RSS</a>
			<a href="#" class="sb embossed share_this">Share</a>
			<a href="#" class="sb embossed star">Star</a>
			<a href="#" class="sb embossed vimeo">Vimeo</a>		
			
		<p>Pressed</p>
			<a href="#" class="sb pressed twitter">Twitter</a>
			<a href="#" class="sb pressed facebook">Facebook</a>
			<a href="#" class="sb pressed heart">Heart</a>
			<a href="#" class="sb pressed linkedin">LinkedIn</a>
			<a href="#" class="sb pressed pinterest">Pinterest</a>
			<a href="#" class="sb pressed podcast">Podcast</a>
			<a href="#" class="sb pressed rss">RSS</a>
			<a href="#" class="sb pressed share_this">Share</a>
			<a href="#" class="sb pressed star">Star</a>
			<a href="#" class="sb pressed vimeo">Vimeo</a>
			
		<p>No border</p>
			<a href="#" class="sb no-border twitter">Twitter</a>
			<a href="#" class="sb no-border facebook">Facebook</a>
			<a href="#" class="sb no-border heart">Heart</a>
			<a href="#" class="sb no-border linkedin">LinkedIn</a>
			<a href="#" class="sb no-border pinterest">Pinterest</a>
			<a href="#" class="sb no-border podcast">Podcast</a>
			<a href="#" class="sb no-border rss">RSS</a>
			<a href="#" class="sb no-border share_this">Share</a>
			<a href="#" class="sb no-border star">Star</a>
			<a href="#" class="sb no-border vimeo">Vimeo</a>	

		<p>No shadow</p>
			<a href="#" class="sb no-shadow twitter">Twitter</a>
			<a href="#" class="sb no-shadow facebook">Facebook</a>
			<a href="#" class="sb no-shadow heart">Heart</a>
			<a href="#" class="sb no-shadow linkedin">LinkedIn</a>
			<a href="#" class="sb no-shadow pinterest">Pinterest</a>
			<a href="#" class="sb no-shadow podcast">Podcast</a>
			<a href="#" class="sb no-shadow rss">RSS</a>
			<a href="#" class="sb no-shadow share_this">Share</a>
			<a href="#" class="sb no-shadow star">Star</a>
			<a href="#" class="sb no-shadow vimeo">Vimeo</a>	

		<p>With text</p>
			<a href="#" class="sb text twitter">Twitter</a>
			<a href="#" class="sb text facebook">Facebook</a>
			<a href="#" class="sb text heart">Heart</a>
			<a href="#" class="sb text linkedin">LinkedIn</a>
			<a href="#" class="sb text pinterest">Pinterest</a>
			<a href="#" class="sb text podcast">Podcast</a>
			<a href="#" class="sb text rss">RSS</a>
			<a href="#" class="sb text share_this">Share</a>
			<a href="#" class="sb text star">Star</a>
			<a href="#" class="sb text vimeo">Vimeo</a>		
			
		<p>Example colors</p>
			<a href="#" class="sb flat twitter">Twitter</a>
			<a href="#" class="sb flat blue twitter">Twitter</a>
			<a href="#" class="sb flat purple twitter">Twitter</a>
			<a href="#" class="sb flat red twitter">Twitter</a>
			<a href="#" class="sb flat green twitter">Twitter</a>
			<a href="#" class="sb flat orange twitter">Twitter</a>
			<a href="#" class="sb flat brown twitter">Twitter</a>
			<a href="#" class="sb flat black twitter">Twitter</a>
			<a href="#" class="sb flat gray twitter">Twitter</a>
			<a href="#" class="sb flat light-gray twitter">Twitter</a>
			<a href="#" class="sb flat light-blue twitter">Twitter</a>
			<a href="#" class="sb flat light-purple twitter">Twitter</a>
			<a href="#" class="sb flat pink twitter">Twitter</a>
			<a href="#" class="sb flat light-green twitter">Twitter</a>
			<a href="#" class="sb flat yellow twitter">Twitter</a>		
	
		</div>
	</div>

</section>

<footer>
	<div class="row">
	
		<div class="grid_3">
			<h4>Latest from our blog</h4>
			<ul class="post-list">
				<li><a href="#">Lorem ipsum dolor sit amet mea urbanitas</a></li>
				<li><a href="#">At vero eos et accusam et justo dolores</a></li>
				<li><a href="#">Pro dicta labitur vituperata eos ut sonet</a></li>
				<li><a href="#">At vero eos et accusam et justo dolores</a></li>
			</ul>	
		</div>
		<div class="grid_3">
			<h4>Browse pages</h4>
			<ul class="arrow-dot">
				<li><a href="#">Home</a></li>
				<li><a href="#">Terms and Privacy</a></li>
				<li><a href="#">About our company</a></li>
				<li><a href="#">Our projects</a></li>
			</ul>
		</div>
		<div class="grid_3">
			<h4>Recent tweet</h4>
			<div class="tweet">
			</div>
		</div>
		<div class="grid_3">
			<img src="images/logo.png" alt="" class="logo hires" />
			<p>Main office at D-1234 kemayoran suite X.07<br />
			(T) 00909 888789 - (F) 00909 888780<br />
			Mail to: <a href="">info@websitename.com</a><br />
			</p>			
			<!-- Social network -->
			<ul class="social_small">
				<li class="facebook first"><a href="#" data-rel="tooltip" title="Facebook">Facebook</a></li>
				<li class="twitter"><a href="#" data-rel="tooltip" title="Twitter">Twitter</a></li>
				<li class="vimeo"><a href="#" data-rel="tooltip" title="Vimeo">Vimeo</a></li>
				<li class="skype"><a href="#" data-rel="tooltip" title="Skype">Skype</a></li>
				<li class="dribble"><a href="#" data-rel="tooltip" title="Dribble">Dribble</a></li>
			</ul>	
		</div>
	</div>
	
	<div class="footnote">
	<div class="row">
		<div class="grid_6">
			<p>&copy; Copyright Sporadise 2012</p>
		</div>
		<div class="grid_6 credits">
			<p>Designed by <a href="http://iweb-studio.com">iWebStudio</a></p>
		</div>
	</div>
	</div>

</footer>
<a href="#" class="scrollup">Scroll</a>
</body>
</html>