<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Spartan clean responsive business website template</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 

	<!-- CSS -->
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/camera.css">	
	<link rel="stylesheet" href="js/fancybox/jquery.fancybox-1.3.4.css" media="screen" />	
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/amazium.css">
	
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/elements.css">
	<link rel="stylesheet" href="css/sb.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="skin/orange.css">
	
	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
	

	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="js/jquery.easing.1.3.js" type="text/javascript"></script>
	
	<!-- camera slide -->
	<script src="js/camera/jquery.mobile.customized.min.js"></script>
	<script src="js/camera/camera.min.js"></script>
	<script src="js/camera/function.js"></script>
	
	<script src="js/bw/jquery.blackandwhite.min.js"></script>
	<script src="js/bw/function.js"></script>
	
	<script type="text/javascript" src="js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<script src="js/fancybox/function.js"></script>
	
	<script src="js/tooltips.js"></script>	
	
	<script src="js/twitter/jquery.tweet.js"></script>	
	<script src="js/twitter/function.js"></script>	
	
	<script src="js/functions.js"></script>		

</head>
<body>

<header>
	<div class="topstatic">
	<div class="row">
				<div class="grid_4">
					<div class="logo">
						<a href="index.html"><img src="images/logo.png" alt="" class="hires" /></a>
					</div>	
				</div>
				<div class="grid_8">
					<!--start navigation-->
					<div class="call_contact">
						<p>Call us +62 009 888 117</p>
					</div>
					<div class="clear"></div>
					<div class="topnav">
						<ul>
							<li class="selected">
								<a href="index.html">Home</a>					  
							</li>
							<li>
								<a href="#">Pages</a>
				
							</li>
							<li>
								<a href="#">About</a>
				
							</li>
							<li>
								<a href="#">Gallery</a>
				
							</li>
							<li>
								<a href="contact.html">Contact</a>
							</li>
						</ul>

					</div>
					<!--end navigation-->	
				</div>

	</div>
	</div>

	<div class="top">
	<div class="row">

		<div class="grid_12">
			<!--start navigation-->
			<nav>
				<ul>
					<li>
						<a href="index.html">Home</a>
						<ul>
							<li><a href="index1.html">Index alt 1</a></li>
							<li><a href="index2.html">Index alt 2</a></li>
						</ul>			  			  
					</li>
					<li class="selected">
						<a href="#">Pages</a>
						<ul>
							<li><a href="about.html">About us</a></li>
							<li><a href="typography.html">Typography</a></li>
							<li><a href="elements.html">Elements</a></li>
							<li><a href="buttons-misc.html">Buttons & misc</a></li>
							<li><a href="columns.html">Column layout</a></li>
							<li><a href="testimonial.html">Testimonial page</a></li>
							<li><a href="pricingtable.html">Pricing table</a></li>
							<li><a href="#">Second level menu</a>
								<ul>
									<li><a href="#">Example menu</a></li>
									<li><a href="#">Example menu</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Blog</a>
						<ul>
							<li><a href="blog-left-sidebar.html">Blog left Sidebar</a></li>
							<li><a href="blog-right-sidebar.html">Blog right Sidebar</a></li>
							<li><a href="single-post-left.html">Single post left</a></li>
							<li><a href="single-post-right.html">Single post right</a></li>
						</ul>
					</li>							  
					<li>
						<a href="#">Portfolio</a>
						<ul>
							<li><a href="portfolio2.html">Portfolio 2 columns</a></li>
							<li><a href="portfolio3.html">Portfolio 3 columns</a></li>
							<li><a href="portfolio4.html">Portfolio 4 columns</a></li>
						</ul>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>
				</ul>

			</nav>
			<!--end navigation-->	
		</div>
	
	</div>
	</div>

</header>

<aside id="featured" class="inner">
	<div class="row">
		<div class="grid_12">
			<ul class="breadcrumb">
				<li class="home"><a href="#">Home</a></li>
				<li><span>Elements</span></li>
			</ul>	
			
			<form id="searchForm">
					<fieldset>
						<div class="input">
							<input type="text" name="search" id="s" onblur="if(this.value=='')this.value='Type and hit enter';" onfocus="if(this.value=='Type and hit enter')this.value='';" value="Type and hit enter"  />
						</div>
							<input type="submit" id="searchSubmit" value="" />
					</fieldset>
			</form>

		</div>
	</div>
</aside>

<section id="content">
	<div class="row">
		<div class="grid_4">			
			<h4>Tabs</h4>
			
			<!-- Standard <ul> with class of "tabs" -->
			<ul class="tabs">
				<!-- Give href an ID value of corresponding "tabs-content" <li>'s -->
				<li><a href="#" class="active">Tab one</a></li>
				<li><a href="#">Tab two</a></li>
				<li><a href="#">Tab three</a></li>
			</ul>	

			<!-- tab "panes" -->
			<div class="panes">
						
				<!--tab 1-->
				<div>
					<p><span class="highlight-orange">Lorem ipsum dolor sit amet</span> consetetur sadiscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et eabum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
										
				</div>
				<!--end tab1-->
									
				<!--tab2-->								
				<div>
					<p><span class="highlight-red">Lorem ipsum dolor sit amet</span> consetetur sadiscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et eabum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				
				</div>
				<!--end tab2-->
									
				<!--tab3-->
				<div> 
					<p><span class="highlight-green">Lorem ipsum dolor sit amet</span> consetetur sadiscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et eabum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				
				</div>
				<!--end tab3-->
								
			</div>
			<!--end panes--> 
		</div>
		
		<div class="grid_4">			
			<h4>Accordion</h4>
                <!--start accordion-->
                <div id="accordion">
					
                    <!--pane 1-->
					<h6 class="current">First Pane</h6>
					<div class="pane" style="display:block">
                    	<p><strong>Pane title 1</strong></p>								
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    				</div>
					<!--end pane1-->
                    
                    <!--start pane2-->
					<h6>Second Pane</h6>
					<div class="pane">
                    	<p><strong>Pane title 2</strong></p>								
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                	</div>
					<!--end pane2-->
                    
                    <!--start pane3-->
                    <h6>Third Pane</h6>
                    <div class="pane">
                    	<p><strong>Pane title 3</strong></p>								
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
					</div>
					<!--end pane 3-->
                    
				</div>
                <!--end accordion--> 
		</div>
		<div class="grid_4">			
			<h4>Toggle</h4>
			
			<div class="toggle">                                            
				<h6 class="title"><span class="title_content">Lorem ipsum dolor sit amet mucius cetero epicurei &#63;</span></h6>
				<div class="pane">
					<div class="pane-page">
						<p>
						libero quam euismod quam, sed sodales purus nisl eget felis. Pellentesque elit massa, cursus id. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi sagittis, dolor nec tempor condimentumlibero quam euismod quam, sed sodales purus nisl eget felis. Pellentesque elit massa, cursus id.
						</p>
					</div> 
				</div>                                    
			</div>
			<!-- end toggle -->	
							
			<div class="toggle">                                            
				<h6 class="title"><span class="title_content">An nec diam everti ut aperiri nominavi intellegam &#63;</span></h6>
				<div class="pane">
					<div class="pane-page">
						<p>
						libero quam euismod quam, sed sodales purus nisl eget felis. Pellentesque elit massa, cursus id. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi sagittis, dolor nec tempor condimentumlibero quam euismod quam, sed sodales purus nisl eget felis. Pellentesque elit massa, cursus id.
						</p>
					</div> 
				</div>                                    
			</div>
			<!-- end toggle -->	
							
			<div class="toggle">                                            
				<h6 class="title"><span class="title_content">Etiam nostrud quaestio in vel senserit instructior duo &#63;</span></h6>
				<div class="pane">
					<div class="pane-page">
						<p>
						libero quam euismod quam, sed sodales purus nisl eget felis. Pellentesque elit massa, cursus id. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi sagittis, dolor nec tempor condimentumlibero quam euismod quam, sed sodales purus nisl eget felis. Pellentesque elit massa, cursus id.
						</p>
					</div> 
				</div>                                    
			</div>
			<!-- end toggle -->								
							
			<div class="toggle">                                            
				<h6 class="title"><span class="title_content">No eirmod virtute delectus qui id lorem partem nec &#63;</span></h6>
				<div class="pane">
					<div class="pane-page">
						<p>
						libero quam euismod quam, sed sodales purus nisl eget felis. Pellentesque elit massa, cursus id. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi sagittis, dolor nec tempor condimentumlibero quam euismod quam, sed sodales purus nisl eget felis. Pellentesque elit massa, cursus id.
						</p>
					</div> 
				</div>                                    
			</div>		
			<!-- end toggle -->	
		</div>
	
	</div>
	
	<div class="row">
		<div class="grid_12">
			<div class="solid_line"></div>
		</div>
	</div>

	
	<div class="row">
		<div class="grid_12">
			<h4>List styles</h4>
		</div>	
		<div class="grid_3">
			<ul class="checklist">
				<li>Checklist list style</li>
				<li>Checklist list style</li>
				<li>Checklist list style</li>
				<li>Checklist list style</li>
			</ul>
		</div>	
		<div class="grid_3">
			<ul class="disc">
				<li>Disc list style</li>
				<li>Disc list style</li>
				<li>Disc list style</li>
				<li>Disc list style</li>
			</ul>
		</div>	
		<div class="grid_3">
			<ul class="circle">
				<li>Circle list style</li>
				<li>Circle list style</li>
				<li>Circle list style</li>
				<li>Circle list style</li>
			</ul>
		</div>	
		<div class="grid_3">
			<ul class="square">
				<li>Square list style</li>
				<li>Square list style</li>
				<li>Square list style</li>
				<li>Square list style</li>
			</ul>
		</div>	
		
		<div class="clear"></div>
		
		
		<div class="grid_3">
			<ul class="arrow-dot">
				<li>Arrow dot list style</li>
				<li>Arrow dot list style</li>
				<li>Arrow dot list style</li>
				<li>Arrow dot list style</li>
			</ul>
		</div>	
		<div class="grid_3">
			<ul class="arrow-full">
				<li>Arrow full list style</li>
				<li>Arrow full list style</li>
				<li>Arrow full list style</li>
				<li>Arrow full list style</li>
			</ul>
		</div>	
		<div class="grid_3">
			<ul class="double-arrow">
				<li>Double arrow list style</li>
				<li>Double arrow list style</li>
				<li>Double arrow list style</li>
				<li>Double arrow list style</li>
			</ul>
		</div>	
		<div class="grid_3">
			<ul class="diamond-list">
				<li>Diamond list style</li>
				<li>Diamond list style</li>
				<li>Diamond list style</li>
				<li>Diamond list style</li>
			</ul>
		</div>	

	</div>
	
	<div class="row">
		<div class="grid_12">
			<div class="solid_line"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="grid_6">
		<h4>Info boxes</h4>

			<p class="boxes success_box">This is success box! 100% info box width size</p>	
			<p class="boxes failed_box">This is failed box! 100% info box width size</p>		
			<p class="boxes error_box">This is error box! 100% info box width size</p>	
			<p class="boxes warning_box">This is warning box! 100% info box width size</p>				
		</div>
		<div class="grid_6">
			<h4>Recent tweet widget (Light)</h4>
			<div class="tweet light marginbottom30">
			</div>
			<h4>Recent tweet widget (Dark)</h4>
			<div class="tweet dark">
			</div>
		</div>
	</div>

	
	<div class="row">
		<div class="grid_12">
			<div class="solid_line"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="grid_4">
			<h4>Zoom image with fancybox</h4>
			<a href="images/portfolio/big-1.jpg" class="zoom"><img src="images/portfolio/img-1.jpg" alt="" class="bw max-img" /></a>
		</div>
		<div class="grid_4">
			<h4>Responsive video</h4>
			<div class="video-container">
				<iframe src="http://player.vimeo.com/video/14511542?title=0&amp;byline=0&amp;portrait=0&amp;"></iframe>
			</div>		
		</div>
		<div class="grid_4">
			<h4>Responsive tooltips</h4>
			<p>Lorem ipsum dolor sit amet, mea urbanitas disputationi ner eripuit.
				No odio putant utamur nam. <a href="#" data-rel="tooltip" title="Your title here">Hover this to see a tooltips</a>, facer contentiones ut vis, equidem vocibus.
			</p>	
			<p>Lorem ipsum dolor sit amet, mea urbanitas disputationi ner eripuit.
				No odio putant utamur nam. <a href="#" data-rel="tooltip" title="Your title here">Hover this to see a tooltips</a>, facer contentiones ut vis, equidem vocibus.
			</p>
		</div>

	</div>
	
	<div class="row">
		<div class="grid_12">
			<div class="solid_line"></div>
		</div>
	</div>

	
	<div class="row">
		<div class="grid_12">
        <h4>Tables</h4>
			<table>
				<thead>
					<tr>
						<th>Heading 1</th>
						<th>Heading 2</th>
						<th>Heading 3</th>
						<th>Heading 4</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Sed in pertinax perpetua percipitur</td>						
						<td>Sed in pertinax perpetua percipitur</td>						
						<td>Sed in pertinax perpetua percipitur</td>						
						<td>Sed in pertinax perpetua percipitur</td>						
					</tr>
					<tr>
						<td>Sed in pertinax perpetua percipitur</td>						
						<td>Sed in pertinax perpetua percipitur</td>						
						<td>Sed in pertinax perpetua percipitur</td>						
						<td>Sed in pertinax perpetua percipitur</td>						
					</tr>
					<tr>
						<td>Sed in pertinax perpetua percipitur</td>						
						<td>Sed in pertinax perpetua percipitur</td>						
						<td>Sed in pertinax perpetua percipitur</td>						
						<td>Sed in pertinax perpetua percipitur</td>						
					</tr>
					<tr>
						<td>Sed in pertinax perpetua percipitur</td>						
						<td>Sed in pertinax perpetua percipitur</td>						
						<td>Sed in pertinax perpetua percipitur</td>						
						<td>Sed in pertinax perpetua percipitur</td>						
					</tr>
					<tr>
						<td>Sed in pertinax perpetua percipitur</td>						
						<td>Sed in pertinax perpetua percipitur</td>						
						<td>Sed in pertinax perpetua percipitur</td>						
						<td>Sed in pertinax perpetua percipitur</td>						
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
	

</section>

<footer>
	<div class="row">
	
		<div class="grid_3">
			<h4>Latest from our blog</h4>
			<ul class="post-list">
				<li><a href="#">Lorem ipsum dolor sit amet mea urbanitas</a></li>
				<li><a href="#">At vero eos et accusam et justo dolores</a></li>
				<li><a href="#">Pro dicta labitur vituperata eos ut sonet</a></li>
				<li><a href="#">At vero eos et accusam et justo dolores</a></li>
			</ul>	
		</div>
		<div class="grid_3">
			<h4>Browse pages</h4>
			<ul class="arrow-dot">
				<li><a href="#">Home</a></li>
				<li><a href="#">Terms and Privacy</a></li>
				<li><a href="#">About our company</a></li>
				<li><a href="#">Our projects</a></li>
			</ul>
		</div>
		<div class="grid_3">
			<h4>Recent tweet</h4>
			<div class="tweet">
			</div>
		</div>
		<div class="grid_3">
			<img src="images/logo.png" alt="" class="logo hires" />
			<p>Main office at D-1234 kemayoran suite X.07<br />
			(T) 00909 888789 - (F) 00909 888780<br />
			Mail to: <a href="">info@websitename.com</a><br />
			</p>			
			<!-- Social network -->
			<ul class="social_small">
				<li class="facebook first"><a href="#" data-rel="tooltip" title="Facebook">Facebook</a></li>
				<li class="twitter"><a href="#" data-rel="tooltip" title="Twitter">Twitter</a></li>
				<li class="vimeo"><a href="#" data-rel="tooltip" title="Vimeo">Vimeo</a></li>
				<li class="skype"><a href="#" data-rel="tooltip" title="Skype">Skype</a></li>
				<li class="dribble"><a href="#" data-rel="tooltip" title="Dribble">Dribble</a></li>
			</ul>	
		</div>
	</div>
	
	<div class="footnote">
	<div class="row">
		<div class="grid_6">
			<p>&copy; Copyright Sporadise 2012</p>
		</div>
		<div class="grid_6 credits">
			<p>Designed by <a href="http://iweb-studio.com">iWebStudio</a></p>
		</div>
	</div>
	</div>

</footer>
<a href="#" class="scrollup">Scroll</a>
</body>
</html>